.body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color:black;
    
}
.nav-bar{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 150px;
    background-color:rgb(255, 170, 0);
    background-blend-mode: luminosity;
}
#navigation{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 143px;
    margin-bottom: -7px;
    margin-right: 6px;
    margin-left: 5px;
    background-color: black;
}
#nav-items{
    height: 143px;
    align-items: center;
}
#nav-logo{
    display: flex;
    height: 1px;
}
#nav-logo img{
    height: 100px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    -webkit-animation: spin 0.5s linear infinite;
    -moz-animation: spin 0.5s linear infinite;
    animation: spin 7s ease-in-out alternate-reverse infinite;
}
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
#nav-btn{
    display: flex;
    top: 30px;
    right: 100px ;
    flex-wrap: wrap;
    position: relative;
    margin-top: 0%;
    justify-items: center;
    float: inline-end;
    justify-content:space between;
}
#nav-btn ul{
    list-style: none;
    color: white;
    text-decoration: none;
}
#nav-btn ul a{
    list-style: none;
    color: white;
    text-decoration: none;
}
#nav-btn ul li{
    flex: 10px;
}
#nav-btn ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:whitesmoke;
    display: block;
    margin: auto;
    transition: 0.5s;
}
#nav-btn ul li:hover::after{
    width: 100%;  
}
.dialogue{
    height: 690px;
    display: flex;
}
.Preference{
    display: flex;
    height: 600px;
    color: antiquewhite;
}
.favourite{
    height: 500px;
}
.footer{
    height: 100px;
    background-color:rgb(255, 170, 0);
}
.footer #construct{
    display: flex;
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
}
.socialicons a i{
    font-size: 1.5em ;
    color: black;
    opacity: 0.9;
}
.socialicons a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialicons a:hover i{
    color :rgb(255, 170, 0);
    transition: 0.5s;
    font-size: 1.6em;
}
.footerbottom{
    background-color: black;
    padding: 1px;
    text-align: center;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}