.body{
    background-color: beige;
    margin: 0;
}
@media(max-width:700px){
    .body{
        flex-direction: column;
    }
}
        /*LOGO SCRIPT*/
.header{
    height: 120px;
    background-color: saddlebrown;
    margin: 0;
}
.header-inner{
    height: 120px ;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
} 
nav img{
    border-radius: 100%;
    height: 70px;
    align-items: flex-start;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:skyblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;  
}

nav .fa{
    display: none;
}
@media(max-width: 700px){

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        display:none;
        position: absolute;
        background:rgba(8, 145, 213,0.7);
        
        height: 100vh;
        width: 200px;
        top: 0;
        right:0vw;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: aliceblue;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }


}
        /*WELCOME SCRIPT*/
.introduction{
    height: 1084px;
    background-image: url(images/amenities.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.overlay{
    color:rgba(0 , 0, 0, 0.3);
    height:fit-content;
    padding-top: 492px;
    padding-bottom: 592px;
    transition: 1s;
}
.welcometxt{
    font-size: 50px;
    display: inline-block;
    position:relative;
    color: whitesmoke;
    text-align: center;
}
.motto{
    color: whitesmoke;
    font-size: 30px;
    position: relative;
    display: inline-block;
}
@media(max-width:700px){
    .welcometxt{
        font-size: 35px;
    }
    .motto{
        font-size: 20px;
    }
    .introduction{
        flex-direction: column;
    }

}
        /* ABOUT THE SCHOOL */
.content{
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 26px;
    font-weight: 600;

}
p{
    font-size: 16px;
    font-weight: 200;
    line-height: 22px;
    padding: 10px;
}
.row-1{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col-about{
    flex-basis: 31%;
    background: burlywood;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.col-about:hover{
    box-shadow: 0 0 20px 0px rgba(0 , 0, 0, 0.3);
    cursor: pointer;
}
.row-2{

    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col-units{
    flex-basis: 32%;
    background: burlywood;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.col-units:hover{
    box-shadow: 0 0 20px 0px rgba(0 , 0, 0, 0.3);
    cursor:pointer;
}
.col-subjects{
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.col-subjects img{
    display: inline-block;
    border-radius: 10px;
}
@media(min-width:700px){
    .content{
        flex-direction: column;
    }
}
       /* INVENTORY   */

.inventory{
    text-align: center;
    margin-top:100px;;
}
.row-3{
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

}
.col-pics1{
    border-radius: 10px;
    height: 300px;
    flex-basis: 32%;
    position: relative;
    overflow: hidden;
    background: url(./images/religion.jpg);
    padding-right: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.col-pics1:hover{
    box-shadow: 0 0 50px 0px rgba(0 , 0, 0, 0.3);
    cursor: pointer;
}

.col-pics2{
 border-radius: 10px;
height: 300px;
flex-basis: 32%;
position: relative;
overflow: hidden;
background: url(./images/school\ bus.jfif);
background-image: image-set(50px 300px);
padding-right: 10px;
background-size: 100%;
background-repeat: no-repeat;
transition: 0.5s;
}
.col-pics2:hover{
    box-shadow: 0 0 50px 0px rgba(0 , 0, 0, 0.3);
    cursor: pointer;
}

.col-pics3{
    border-radius: 10px;
    height: 300px;
    flex-basis: 32%;
    position: relative;
    overflow: hidden;
    background: url(./images/students.jpg);
    padding-right: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
    }
.col-pics3:hover{
    box-shadow: 0 0 50px 0px rgba(0 , 0, 0, 0.3);
    cursor: pointer;
}
.col-pics4{
    border-radius: 10px;
    height: 300px;
    flex-basis: 32%;
    position: relative;
    overflow: hidden;
    background: url(/images/teachers.jfif);
    padding-right: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.col-pics4:hover{
    box-shadow: 0 0 50px 0px rgba(0 , 0, 0, 0.3);
    cursor: pointer;
}

.col-pics5{
border-radius: 10px;
height: 300px;
flex-basis: 32%;
position: relative;
overflow: hidden;
background: url(/images/school\ bus.jfif);
padding-right: 10px;
background-size: 100%;
background-repeat: no-repeat;
transition: 0.5s;
}
.col-pics5:hover{
    box-shadow: 0 0 50px 0px rgba(0 , 0, 0, 0.3);
    cursor: pointer;
}
.col-pics6{
    border-radius: 10px;
    height: 300px;
    flex-basis: 32%;
    position: relative;
    overflow: hidden;
    background: url(/images/amenities.jpg);
    padding-right: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
    }
.col-pics6:hover{
    box-shadow: 0 0 50px 0px rgba(0 , 0, 0, 0.3);
    cursor: pointer;
}
.reviews-col{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.reviews-col-cont{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: burlywood;
    
    cursor: pointer;
    display: flex;
}
.reviews-col-cont img{
    height: 40px;
    margin-left: 1px;
    margin-right: px;
    border-radius: 50%;
}
.row-4{
    margin: 100px auto;
    width: 80%;
    background-image:url(./images/social-audio.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}   
.row-4 h1{
    color:saddlebrown;
     margin-bottom: 40px;
     padding: 0;

}
.row-4 p{
    color: saddlebrown;
    padding: 0;
    margin-bottom: 35px;
}
.contact-btn{
    display: inline-block; 
    text-decoration: none;
    color: white;
    border-color: white;
    border: 1px solid;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position:relative;
    cursor: pointer;
}
.gallery-btn{
    display: inline-block; 
    text-decoration: none;
    color: maroon;
    border-color: maroon;
    border: 1px solid;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position:relative;
    cursor: pointer;

}
.gallery-btn:hover{
    border: 1px solid;
    border-color: cadetblue;
    background: skyblue;
    transition: 0.8s;

}
.contact-btn:hover{
    border: 1px solid;
    border-color: cadetblue;
    background: skyblue;
    transition: 0.8s;
}
@media(max-width:700px){
    .row-1{
        flex-direction: column;
        align-items: center;
    }
    .row-2{
        flex-direction: column;
        align-items: center;
    }
    .inventory{
        flex-direction: column;
        display:inline-flex;
    }
    .row-3{
        
        flex-direction: column;

    }
}


    /* FOOTER */
.btm-links{
    flex: 1;
    text-align: center;
}
.btm-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.btm-links ul li a{
    color: crimson;
    text-decoration: none;
    font-size: 15px;
}
.btm-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:skyblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.btm-links ul li:hover::after{
    width: 100%; 
}
.end{
    text-align: center;
    color: darkgray;
}
@media(max-width:700px){
    .footer{
        flex-direction: column;
    }
    .row-4{
        background-size: cover;
        flex-direction: column;
        position:relative;
    }
}

